<div id="<%= dom_id alert_setting %>">
  <p>
    <strong>Keyword:</strong>
    <%= alert_setting.keyword_id %>
  </p>

  <p>
    <strong>Threshold:</strong>
    <%= alert_setting.threshold %>
  </p>

  <p>
    <strong>Notification method:</strong>
    <%= alert_setting.notification_method %>
  </p>

</div>
