<% content_for :title, "New alert setting" %>

<h1>New alert setting</h1>

<%= render "form", alert_setting: @alert_setting %>

<br>

<div>
  <%= link_to "Back to alert settings", alert_settings_path %>
</div>
