<div id="<%= dom_id keyword %>">
  <p>
    <strong>Name:</strong>
    <%= keyword.name %>
  </p>

  <p>
    <strong>Target url:</strong>
    <%= keyword.target_url %>
  </p>

  <p>
    <strong>Search engine:</strong>
    <%= keyword.search_engine %>
  </p>

</div>
